<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booking App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
            margin-bottom: 0px;
            border-radius: 0;
        }

        /*!* Remove the jumbotron's default bottom margin *!*/
        /*.jumbotron {*/
        /*    margin-bottom: 0;*/
        /*}*/
        .container {
            width: 800px;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 2px;
        }
    </style>
</head>
<body>
<div style="position: relative;  min-height: 100vh; background: #404040">
    <div style="padding-bottom: 2.5rem">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="position: sticky; top:0; z-index: 100">
            <div class="container">
                <a href="/" class="navbar-brand">Booking App</a>
                <div style="color: wheat">
                    {% if authorized %}
                        <div style="color: wheat">Hello {{ userName }}!</div>
                    {% endif %}
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        {% if authorized %}
                            <li class="nav-item">
                                <a href="/logout" class="nav-link">LOGOUT</a>
                            </li>
                            <li class="nav-item">
                                <a href="/apartments/create" class="nav-link">ADD APARTMENT</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="/users/signUp" class="nav-link">SIGN UP</a>
                            </li>
                            <li class="nav-item">
                                <a href="/users" class="nav-link">LOGIN</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="jumbotron" style="height: 200px; background:#262626;">
            <div class="container text-center" style="color:wheat" >
                <h1>Book an Apartment</h1>
                <p>Best Apartments in Your area</p>
            </div>
        </div>

        <div id="content" style="background:  #404040;">{% block content %}{% endblock %}</div>

        <footer class="container-fluid text-center" style="position: absolute;
         bottom:0; width: 100%; height: 2.5rem; color: grey; background: #262626">
            <p> &copy; Copyright 2022 Booking App</p>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% block script %}{% endblock %}
</body>
</html>